* { box-sizing: border-box; }

:root {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  --color-accent: #B29B3E;
}

body {
  background-color: #000;
  color: #ddd;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}
a:hover {
  color: #D2BB5E;
}

/* Graph stuff */
.calc-wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  justify-items: stretch;
  flex-direction: column;
}

.calc {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  align-items: stretch;
}

.calc>div {
  height: auto !important;
}

.dot::after {
  content: '/';
  color: #333;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.8rem 1rem;
  font-size: 0.9em;
}

/* Index stuff */
.index-wrapper {
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.index h1 {
  font-size: 1.5rem;
}
.index p {
  font-size: 0.87rem;
  color: #888;
  padding-top: 0.5em;
}

.index {
  min-width: 500px;
  /* width: 100%; */
  padding: 1rem;
}

.graph-list {
  padding: 0.8rem 0;
}

.graph {
  padding-top: 1rem;
  font-size: 1.1rem;
}

.meta {
  display: flex;
  justify-content: space-between;
  padding-top: 0.3rem;
}

.meta-desc {
  font-size: 0.7em;
  color: #aaa;
}

.meta-date {
  font-size: 0.7em;
  color: #555;
}


/* Manage stuff */

.add-form {
  display: flex;
  justify-content: space-between;
  width: 100%
  gap: 1rem;
  padding: 0.5rem 0;
}

.add-form input {
  flex: 2;
  width: 100%;
  padding: 0.5em;
  border: 1px solid #333;
  background-color: #333;
  color: #ddd;
}

.add-form button[type="submit"] {
  cursor: pointer;
  flex: 1;
  width: 100%;
  padding: 0.5em;
  border: none;
  background-color: #111;
  color: var(--color-accent);
}

.header button {
  cursor: pointer;
  width: 100%;
  padding: 0.5em 1rem;
  border: none;
  background-color: #161616;
  color: var(--color-accent);
}

